## importing lib

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

### data_preprocessing

In [3]:
dataset_train=pd.read_csv("prices-train.csv")
dataset_train.head(3)

,date,symbol,open,close,low,high,volume
0,2016-01-05,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0
1,2016-01-06,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0
2,2016-01-07,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
sagar=LabelEncoder()
dataset_train["symbol"]=sagar.fit_transform(dataset_train["symbol"])

In [6]:
dataset_train.head(2)

,date,symbol,open,close,low,high,volume
0,2016-01-05,453,123.430000,125.839996,122.309998,126.250000,2163600.0
1,2016-01-06,453,125.239998,119.980003,119.940002,125.540001,2386400.0

In [7]:
training_set=dataset_train.iloc[:,1:3]
training_set.head(4)

   symbol        open
0     453  123.430000
1     453  125.239998
2     453  116.379997
3     453  115.480003

### feature scaling

In [8]:
from sklearn.preprocessing import MinMaxScaler
sc=MinMaxScaler(feature_range=(0, 1))
training_set[["open"]]=sc.fit_transform(training_set[["open"]])
training_set.head(3)

   symbol      open
0     453  0.157344
1     453  0.159708
2     453  0.148135

In [9]:
training_set_scaled=training_set

## creating timesteps of 60 and 1 output

In [10]:
x_train=[]
y_train=[]
for i in range(60,1266):
    x_train.append(training_set_scaled.iloc[i-60:i,1])
    y_train.append(training_set_scaled.iloc[i,1])

x_train,y_train=np.array(x_train),np.array(y_train)

In [11]:
y_train.dtype

dtype('float64')

## Reshaping

In [12]:
x_train=np.reshape(x_train,(x_train.shape[0],x_train.shape[1],1))

## LSTM

In [13]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout

Using TensorFlow backend.

In [14]:
regressor=Sequential()

WARNING: Logging before flag parsing goes to stderr.
W0617 01:01:50.978543 140499357185856 deprecation_wrapper.py:119] From /usr/local/anaconda/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:72: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [15]:
regressor.add(LSTM(units=50,return_sequences=True,input_shape=(x_train.shape[1],1)))
regressor.add(Dropout(0.2))

W0617 01:01:55.919883 140499357185856 deprecation_wrapper.py:119] From /usr/local/anaconda/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:515: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

W0617 01:01:55.924391 140499357185856 deprecation_wrapper.py:119] From /usr/local/anaconda/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:4048: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

W0617 01:01:56.175168 140499357185856 deprecation_wrapper.py:119] From /usr/local/anaconda/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:131: The name tf.placeholder_with_default is deprecated. Please use tf.compat.v1.placeholder_with_default instead.

W0617 01:01:56.184319 140499357185856 deprecation.py:506] From /usr/local/anaconda/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:3368: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.


## adding 2nd layer and some droupout regularisation

In [16]:
regressor.add(LSTM(units=50,return_sequences=True,))
regressor.add(Dropout(0.2))

## adding 3rd layer and some droupout regularisation

In [17]:
regressor.add(LSTM(units=50,return_sequences=True,))
regressor.add(Dropout(0.2))

## adding 4th layer and some droupout regularisation

In [18]:
regressor.add(LSTM(units=50))
regressor.add(Dropout(0.2))

# adding final output layer

In [19]:
regressor.add(Dense(units=1))

In [23]:
regressor.compile(optimizer='adam',loss="mean_squared_error")

## fitting the RNN to the traing set

In [ ]:
regressor.fit(x_train,y_train,epochs=10,batch_size=12,validation_split=0.02,validation_steps=None)

Train on 1181 samples, validate on 25 samples
Epoch 1/10
1181/1181 [==============================] - 25s 21ms/step - loss: 0.0019 - val_loss: 0.0033
Epoch 2/10
1181/1181 [==============================] - 21s 17ms/step - loss: 0.0020 - val_loss: 0.0034
Epoch 3/10
1181/1181 [==============================] - 20s 17ms/step - loss: 0.0019 - val_loss: 0.0033
Epoch 4/10
1181/1181 [==============================] - 22s 18ms/step - loss: 0.0019 - val_loss: 0.0033
Epoch 5/10
1181/1181 [==============================] - 21s 17ms/step - loss: 0.0019 - val_loss: 0.0033
Epoch 6/10
1181/1181 [==============================] - 20s 17ms/step - loss: 0.0018 - val_loss: 0.0034
Epoch 7/10
1181/1181 [==============================] - 20s 17ms/step - loss: 0.0018 - val_loss: 0.0033
Epoch 8/10
1181/1181 [==============================] - 21s 18ms/step - loss: 0.0019 - val_loss: 0.0033
Epoch 9/10
 348/1181 [=======>......................] - ETA: 13s - loss: 0.0015

# making the prediction and visualising the data